[Unit]
Description=TFT Reset Button Monitor
After=moonraker.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
Environment=GPIOZERO_PIN_FACTORY=lgpio
ExecStart=/usr/bin/python3 /home/pi/tft_reset.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
